@model IEnumerable<MVC_First.Models.Employee>

@{
    ViewData["Title"] = "All Employees";
}

<h1>All Employees</h1>
<br>    

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-person-plus"></i>&nbspCreate New</a>
    <a asp-action="Search" class="btn btn-primary"><i class="bi bi-search"></i>&nbsp;Search</a>
</p>
<table class ="table table-striped table-hover table-bordered ">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary "><i class="bi bi-pencil-square "></i>Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white"><i class="bi bi-eye"></i>Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>  
            </td>
        </tr>
}
    </tbody>
</table>
